@import url(styles/header.css);
@import url(styles/footer.css);
@import url(styles/principal.css);
@import url(styles/resset.css);

body{
    background-image: url(imagens/imagen.jpg);
    background-color: bisque;
    background-repeat: no-repeat;
   
   
   }
